@tailwind base;
@tailwind components;
@tailwind utilities;

:focus {
    outline-color: #a82654
}

@layer components {
    .title-bar-drag {
        -webkit-app-region: drag;        
    }

    .wave-l {
        background-image: url("./assets/waves/lwave.svg");
    }

    .wave-l-2 {
        background-image: url("./assets/waves/lwave2.svg");
    }

    .wave-l-3 {
        background-image: url("./assets/waves/lwave3.svg");
    }

    .wave-cover-dark {
        background-image: url("./assets/waves/cover-dark.svg");
    }
}

